#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #e3edf7;
  border-radius: 5px;
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e3edf7;
  color: #a9b8c9;
  border-radius: 5px;
  background: linear-gradient(-67deg, rgba(200, 216, 231, 0.7), rgba(255, 255, 255, 0.8));
  box-shadow: inset 2px 2px 6px #c5d4e3, inset -2px -2px 4px rgba(255, 255, 255, 0.7);
  height: 70px;
  width: 60vw;
  z-index: 1000;
  margin-bottom: 60px;
}

.header-image {
  mix-blend-mode: multiply;
  max-width: 70px;
  height: auto;
  margin-right: 10px;
}

.header-text {
  font-size: 3rem;
  font-family: "Inter", sans-serif;
}

.text_in_between {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem; 
  color: #a9b8c9;
  font-family: "Inter", sans-serif;
  margin: 0; 
  padding-bottom: 40px;
}

.form-main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; 
}

.input-container {
  display: flex;
  background-color: #a9b8c9;
  border-radius: 10px;
  padding: 4px;
  background: linear-gradient(-67deg, rgba(200, 216, 231, 0.7), rgba(255, 255, 255, 0.8));
  
}

.icon {
  min-width: 46px;
  min-height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-right: 12px;
  box-shadow: inset 2px 2px 6px #c5d4e3, inset -2px -2px 4px rgba(255, 255, 255, 0.7);
}

.form-input {
  background-color: #e3edf7;
  padding: 16px 32px;
  border: none;
  width: 100%;
  font-family: 'Orbitron', sans-serif;
  font-weight: 600;
  color: #a9b8c9;
  transition: all 240ms ease-out;
  border-radius: 10px;
}

.form-input::placeholder {
  color: #6d7f8f;
}

.form-input:focus {
  outline: none;
  color: #a9b8c9;
  background-color: #f0f5fb;
  box-shadow: 0 0 6px rgba(60, 75, 102, 0.3);
}

.form-button {
  background: linear-gradient(-67deg, rgba(200, 216, 231, 0.7), rgba(255, 255, 255, 0.8));
  color: #a9b8c9;
  border: none;
  border-radius: 10px;
  padding: 16px 32px;
  height: auto;
  font-weight: bold;
  cursor: pointer;
  box-shadow: inset 2px 2px 6px #c5d4e3, inset -2px -2px 4px rgba(255, 255, 255, 0.7);
  transition: transform 0.2s ease;
}

.form-button:hover {
  transform: scale(1.05);
  background-color: #15862d;
  color: #3A4750;
}


.form-list {
  padding: 10px;
  margin-top: 20px;
  width: 90%;
  max-width: 150px;
  margin-left: 0;
  margin-right: auto;
  background:linear-gradient(-67deg, rgba(200, 216, 231, 0.7), rgba(255, 255, 255, 0.8));
  box-shadow: inset 2px 2px 6px #c5d4e3, inset -2px -2px 4px rgba(255, 255, 255, 0.7);
  border-radius: 5px;
}
.form-list:hover {
  transform: scale(1.05);
  background-color: white;
  color: #3A4750;
}

li {
  display: flex;         
  align-items: center;  
  justify-content: space-between;
  font-size: 15px;
  text-align: left;
  padding: 8px 10px;
  gap: 8px;
  font-family: 'Orbitron', sans-serif;
  font-weight: 600;
  color: #a9b8c9; 
  list-style: none;      /* Removed default bullet points */
  border-bottom: 1px solid #4a5568; /* Subtle separator */
}

li:last-child {
  border-bottom: none;
}

.error-message {
  color: #d9534f;
  font-weight: bold;
  margin-top: 8px;
}

.remove-button {
  background: none;
  border: none;
  color: #d9534f;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.2s ease-in-out;
}

.remove-button:hover {
  color: #c9302c;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center; 
  position: absolute; 
  bottom: 20px; 
  left: 50%; 
  transform: translateX(-50%); 
  width: 100%; 
  max-width: 600px; 
  padding: 6px 12px;
  height: 75px;
  background-color: #e3edf7;
  color: #a9b8c9;
  border-radius: 5px;
  background: linear-gradient(-67deg, rgba(200, 216, 231, 0.7), rgba(255, 255, 255, 0.8));
  box-shadow: inset 2px 2px 6px #c5d4e3, inset -2px -2px 4px rgba(255, 255, 255, 0.7);
}

.text-container {
  text-align: left; 
  display: flex;
  flex-direction: column; 
  width: 100%; 
}

.text_a {
  font-weight: 600;
  text-align: left;
  gap: 4px;
  padding-bottom: 5px;   
}

.text_b {
  font-size: 14px;
  color: #3A4750;
}

.form-button_1 {
  background: linear-gradient(-67deg, rgba(200, 216, 231, 0.7), rgba(255, 255, 255, 0.8));
  color: #a9b8c9;
  border: none;
  height: 40px;
  width: 150px;
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: inset 2px 2px 6px #c5d4e3, inset -2px -2px 4px rgba(255, 255, 255, 0.7);
  transition: transform 0.2s ease;
}

.form-button_1:hover {
  color: #3A4750;
  background-color: #15862d;
  transform: scale(1.05);
}